<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ida:Realm" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="https://epamazurelab.onmicrosoft.com/WebApp-epamazurelab3.azurewebsites.net" />
    <add key="ida:AudienceUri" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="https://epamazurelab.onmicrosoft.com/WebApp-epamazurelab3.azurewebsites.net" />
    <add key="ida:ClientID" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="b18e4e9f-7afe-4578-9fa3-28738ec93232" />
    <add key="ida:Password" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="4jiRlHjteODvc7Uabz4Fw2OLdoYCcGdD8CHwdAJXtyg=" />
  </appSettings>
  <system.identityModel>
    <identityConfiguration>
      <audienceUris xdt:Transform="Replace">
        <add value="https://epamazurelab.onmicrosoft.com/WebApp-epamazurelab3.azurewebsites.net" />
      </audienceUris>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services xdt:Transform="Replace">
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://login.windows.net/epamazurelab.onmicrosoft.com/wsfed" realm="https://epamazurelab.onmicrosoft.com/WebApp-epamazurelab3.azurewebsites.net" requireHttps="true" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>
