<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>epamazurelab.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://epamazurelab2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>epamazurelab2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>epamazurelab2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$epamazurelab2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sqlserverujecoeeunmfz2.database.windows.net,1433;Initial Catalog=GeekQuizDB;User ID=GeekQuizAdmin@sqlserverujecoeeunmfz2;Password=14or@llAnd@ll4or1" Name="Data Source=tcp:sqlserverujecoeeunmfz2.database.windows.net,1433;Initial Catalog=GeekQuizDB;User Id=GeekQuizAdmin@sqlserverujecoeeunmfz2;Password=14or@llAnd@ll4or1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GeekQuiz.Models.TriviaContext, GeekQuiz" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://epamazurelab.onmicrosoft.com/WebApp-epamazurelab2.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>5b1b0422-7620-49d3-ba9d-9365bf7ac921</ADClientAPPID>
    <ADClientPassword>mD+tiDR1NavDpFIcfjgWBljLtXW8qcwEUZPGPB2+RO4=</ADClientPassword>
    <ADReplyUrl>https://epamazurelab2.azurewebsites.net/</ADReplyUrl>
    <ADIssuer>https://login.windows.net/epamazurelab.onmicrosoft.com/wsfed</ADIssuer>
    <ADTenantId>a609185f-6ee0-459f-8357-2c49b0843fb8</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlserverujecoeeunmfz2.database.windows.net,1433;Initial Catalog=GeekQuizDB;User Id=GeekQuizAdmin@sqlserverujecoeeunmfz2;Password=14or@llAnd@ll4or1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>